<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturacion</title>
</head>
<body>
    <div class="user-area dropdown float-right">
        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img class="user-avatar rounded-circle" src="assets/images/admin.jpg" alt="User Avatar">
        </a>

        <div class="user-menu dropdown-menu">
            <a class="nav-link" href="#"><i class="fa fa- user"></i>Mi Perfil</a>

            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Ajustes</a>

            <a class="nav-link" href="./index.html"><i class="fa fa-power -off"></i>Cerrar Sesión</a>
        </div>
    </div>
    <script src="assets/js/faturar.js"></script>
</body>

</html>